:root {
  --bg-color: #f3f4f6;
  --text-color: #292C38;
  --gray: #6b7393;
  --grey: #6b7393;
  --accent-color: #34E084;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* TYPOGRAPHY */
body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.65;
}

p {
  margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small, .text_small {
  font-size: 0.833em;
}

a {
  color: var(--text-color);
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 3px;
}

a:hover {
  color: var(--accent-color);
}